page-welcome {

    //Modificando a cor de fundo da página inicial
    //Utilizando a cor definida em variable.scss
    #welcome{
        background-color: color($colors, energy);


        h1{
            font-size: 52px;
            margin-top: 50px;
        }

        .marginTop{
            margin-top: 150px;
        }

        .logo{
            display:block;
            width:100%;
            height:auto;
            margin-left:auto;
            margin-right:auto;
        }
    }
}
